.navbar-brand img {
    width: 27px;
    height: 27px;
    border-radius: 999em;
}

.content * {
    margin: 0;
}
.content * + * {
    margin-top: $line-height-base + 0em;
}

.post__meta {
    margin-top: 0.75em;
    color: $gray-light;
    font-size: 0.75em;
}